
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 0px 300px;
  font-family: Raleway;
  padding: 40px;
  width: 60%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
      padding: 6px;
    width: 83%;
    margin: 2px 45px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #d2cccc;
}

input[type='date']{
    width: 36%;
    padding: 3px 5px;
    border: 1px solid #cccccc;
}

select{
      width: 20%;
    padding: 5px 0px;
    font-size: 15px;
    margin: 10px;
    border: 1px solid #c0c5c0;
    border-radius: 3px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
    color: #ffffff;
    border: none;
    margin: 35px 8px 0px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

