@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#666;
	margin:0;
}
h2{
	font-size:34px;
	color:#3d4c5a;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#8c99e0;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#555;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:#8c99e0;
	padding:160px 0;
    position:relative;
    height: calc(100vh - 102px);
        
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index:9;
        background: url('../img/lines.svg') center center no-repeat;
        content: '';
        background-size: 100% auto;
        opacity: 0.6;
    }
    .hbox{
        position: relative;
        z-index: 999;

        .logo{
            width:130px;
            margin:0 auto 35px;
        }
        
        h1{
            font-family: 'Montserrat',sans-serif;
            font-size:34px;
            font-weight:400;
            letter-spacing: -1px;
            margin:0 0 22px 0 ;
            color:#fff;
        }
        
        .we-create{
            padding:0;
            margin:35px 0 55px;
            color:#fff;
            font-size: 16px;
            text-transform: none;
        }
        
        a.btn{
            z-index:999;
        }
    }
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
    
    .small-logo{ 
        padding:0 32px;
    }
    
    li{
        display:inline;
        margin:0 1px;
        
        a{
            display:inline-block;
            color:#222222;
            text-transform:uppercase;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            line-height:20px;
            padding:17px 32px;
            
            transition:all 0.3s ease-in-out;
            -moz-transition:all 0.3s ease-in-out;
            -webkit-transition:all 0.3s ease-in-out;
            
            &:hover{ 
                text-decoration:none;
                color: #8c99e0;
            }
        }
    }
}

.main-section{
	padding:90px 0 110px;
}


/* Services
---------------------------------*/
#service{

    .service-list{
        padding:0 0 0 0;
        font-size:14px;
        margin-bottom:40px;
        
        .service-list-col1{
            float:left;
            width:60px;
            
            i{
                font-style:normal;
                line-height:34px;
                font-size:34px;
                display:block;
                color:#3d4c5a;                
            }
        }
        
        .service-list-col2{
            overflow:hidden;	
        }
    }
}


/* Featured Work
---------------------------------*/
.featured{

    .featured-work{
     
        h2{
            text-align:left;
        }
        
        p.padding-b{
            padding-bottom:35px;
        }
    }
    
    .featured-box{
        padding:0 0 0 0;
        margin-bottom:25px;
        font-size:14px;
        
        h3{
            margin-bottom:5px;
        }
        
        p{
            line-height:22px;
        }
        
        .featured-box-col1{
            width:60px;
            float:left;
            
            i{
                display:block;
                line-height:34px;
                font-size:34px;
                color:#3d4c5a;
                font-style:normal;
            }
        }
        
        .featured-box-col2{
            overflow:hidden;
        }
    }
}

.main-section.alabaster{
	background:#efefef;
}

/* Call out
---------------------------------*/
.call-out {
    position: relative;
    padding: 60px 0px 60px;
    background: #363f4a;
    color: #ffffff;
    
    h2 {
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: 0;
        font-weight: 600;
        color: #ffffff;
        text-align:left;
        letter-spacing:normal;
    }
    
    p {
        font-size: 14px;
        margin-bottom: 10px;
        color: #aaa;
    }
}


/* Portfolio
---------------------------------*/
#Portfolio{
    
    .Portfolio-nav{
        padding:0;
        margin:0 0 45px 0;
        list-style:none;
        text-align:center;
        
        li{
            margin:0 10px;
            display:inline;
            
            .current{
                background:linear-gradient(60deg, #71f3f5, #8c99e0);
                color:#fff;
                text-decoration:none;
            }
            
            a{
                display:inline-block;
                padding:10px 22px;
                font-size:12px;
                line-height:20px;
                color:#222222;
                border-radius:4px;
                text-transform:uppercase;
                font-family: 'Montserrat', sans-serif;
                background:#f7f7f7;
                margin-bottom:5px;
                transition:all 0.3s ease-in-out;
                -moz-transition:all 0.3s ease-in-out;
                -webkit-transition:all 0.3s ease-in-out;
                
                &:hover{
                    background:linear-gradient(60deg, #71f3f5, #8c99e0);
                    color:#fff;
                    text-decoration:none;
                }
            }
        }
    }
    
    .portfolioContainer{
        margin:0 auto;
        padding-left:15px;
        
        .Portfolio-box{
            text-align:center;
            margin-bottom:30px;
            height:350px;
            width:350px;
            overflow:hidden;
            float:left;
            padding:0;
            
            img{
                margin-bottom:25px;
                transition:all 0.3s ease-in-out;
                -moz-transition:all 0.3s ease-in-out;
                -webkit-transition:all 0.3s ease-in-out;
                
                &:hover {
                    opacity: 0.6;
                }	
            }
        }
    }    
}
/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Clients
---------------------------------*/
.client-part{
	background:url(../img/section-bg1.jpg) center center no-repeat;
	background-size:cover;
	padding:55px 0;
	text-align:center;
    
    .client{
        padding:0;
        margin:20px 0 0;
        list-style:none;
        text-align:center;
        
        li{
            display:block;
            margin:0 15px;
            
            a{
                display:inline-block;
                
               
                &:hover{
                    text-decoration:none;
                }
                
                h3{
                    color:#ffffff;
                }
                
                span{
                    color:#f1f1f1;
                }
            }
        }
    }

    .quote-right{
        font-style:normal;
        width:68px;
        height:68px;
        margin:0 auto;
        border:2px solid #00dbde;
        border-radius:50%;
        display:block;
        line-height:68px;
        text-align:center;
        font-size:27px;
        color:#00dbde;
        cursor: pointer;
        transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -webkit-transition:all 0.3s ease-in-out;
        
        &:hover{
        color: #fff;
        border: 2px solid #fff;
        }
    }
    
    .client-part-haead{
        color:#fdfdfd;
        font-size:28px;
        line-height:41px;
        margin:30px 0 10px;
        font-family: ''Open Sans',sans-serif';
        font-style: italic;
    }
}

/* Client Part
---------------------------------*/
.c-logo-part{
	background:linear-gradient(60deg, #71f3f5, #8c99e0);
	padding:25px 0;
    filter: alpha(opacity=60);
    
    ul{
        padding:0;
        margin:0;
        list-style:none;
        text-align:center;
        
        li{
            display:inline;
            margin:0 25px;
            
            a{
                display:inline-block;
                margin: 0 20px;
            }
        }
    }
}
/* Team
---------------------------------*/
#team{
    
    h6{
        margin-bottom:40px;
    }

    .team-leader-block{
        max-width:993px;
        margin:0 auto;
        
        .team-leader-box{
            width:30.66%;
            margin-right: 3.82979%;
            height: 490px;
            overflow: hidden;
            text-align: center;
            float: left;
            
            span{
                margin-bottom:24px;
                display:block;
            }
            
            &:nth-of-type(3n+0){
                margin:0;
            }
            
            .team-leader{
                width:auto;
                height:auto;
                position:relative;
                border-radius:50%;
                box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
                margin:7px 7px 25px 7px;
                
                .team-leader-shadow{
                    transition:all 0.3s ease-in-out;
                    -moz-transition:all 0.3s ease-in-out;
                    -webkit-transition:all 0.3s ease-in-out;
                    border-radius:50%;
                    position:absolute;
                    width:100%;
                    height:100%;
                    z-index:10;
                    border-radius:50%;
                    
                    a{
                        display:block;
                        width:100%;
                        height:100%;
                    }
                }
                
                &:hover .team-leader-shadow{
                    box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
                }
                
                &:hover ul{
                    display:block; opacity:1
                }
                
                img{
                    display:block;
                    border-radius:50%;
                }
                
                ul{
                    display:block;
                    opacity:0;
                    padding:0;
                    margin:0;
                    list-style:none;
                    position:absolute;
                    left:0;
                    top:50%;
                    width:100%;
                    text-align:center;
                    margin-top:-14px;
                    z-index:15;
                    transition:all 0.6s ease-in-out;
                    -moz-transition:all 0.6s ease-in-out;
                    -webkit-transition:all 0.6s ease-in-out;
                    
                    li{
                        display:inline;
                        margin:0 11px;
                        
                        a{
                            font-family: 'Material-Design-Iconic-Font';
                            display:inline-block;
                            font-size:28px;
                            color:#fff;	
                            transition:all 0.3s ease-in-out;
                            -moz-transition:all 0.3s ease-in-out;
                            -webkit-transition:all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }    
}

/* Talk Business
---------------------------------*/
.business-talking{
	background:url(../img/section-bg2.jpg) top center no-repeat;
	background-size:cover;
	padding:60px 0 10px;
	text-align:center;
    
    h2{
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        padding:0;
        margin:20px 0 70px;
        text-transform:uppercase;
        font-size:42px;
        color:#fff;
    }
}
/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
    
    h3{
        font-size: 15px;
        font-weight:400;
        float:left;
        width:102px;
        margin-right:12px;
        line-height:28px;
        
        i{
            font-style:normal;
            font-size:18px;
            color:#222222;
            font-family: 'Material-Design-Iconic-Font';
            font-weight:normal;
            margin-right:7px;
        }
    }
    
    span{
        line-height:28px;
        display:block;
        overflow:hidden;
    }
}



.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
    
    li{
        float:left;
        margin-right:8px;
        
        a{
            display:block;
            width:50px;
            height:50px;
            text-align:center;
            line-height:50px;
            font-size:25px;
            color:#fff;
            background:#3d4c5a;
            border-radius:50%;
            transition:all 0.3s ease-in-out;
        }
    }
}


.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.google-plus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
/* Footer
---------------------------------*/

.footer{
	background:linear-gradient(60deg, #71f3f5, #8c99e0);
	padding:35px 0 35px;
    
    .footer-logo{
        margin:0 auto;
        width: 76px;
    }
    
    .copyright{
        color:#fff;
        font-size:14px;
        display:block;
        text-align:center;
        
        a{
            color:#333;
            font-weight:600;
            text-decoration: none;
            transition:all 0.3s ease-in-out;
            -moz-transition:all 0.3s ease-in-out;
            -webkit-transition:all 0.3s ease-in-out;
            
            &:hover {
                color: #fff;
            }
        }
    }
}

.res-nav_click {
	line-height:38px;
	font-family: 'Material-Design-Iconic-Font';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}


