/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 992px) and (max-width:1024px) {

.header{
        padding:135px 0;
    }
}


@media only screen and (max-width: 1024px) {
    .main-section{
        margin:0;
        padding:60px 0;
    }
    .main-section.contact{padding:60px 0;}
    
     #service{
        .service-list{
            margin-bottom: 20px;
            
        }
     }
     .footer{
        .footer-logo{
            margin: 15px auto 15px;
        }
     }
}
@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	
	.service-list{ margin-bottom:30px;}
	.c-logo-part{
         ul{
            li{ margin:0;}
         }
    }
	.form{ margin:0 0 0 20px}
	.main-nav{
        display:block !important;
        
        li{
             a {padding: 17px 30px;}
        }
    }
	/*.portfolioContainer{ width:800px; margin:0px auto !important; } */ 
	
}	
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	.header{
         h1{ font-size:46px;}
    }
	.main-nav{
         ul{
             li{
                 a{ padding:14px;}
             }
         }
    }
	.small-logo{ padding:0 20px;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.featured-work p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:70px 0;}
	.c-logo-part{
         ul{
            li{
                margin:0 1%; float:left; width:18%;
                a{
                    display:block;
                    
                    img{ display:block;}
                }
            }
         }
    }
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	.social-link{ margin:0;}
	
	.main-nav{ display:block !important; }
	.main-nav{
         li{
             a{ padding:8px 15px;}
         }
    }
	/*.portfolioContainer{ width:750px; margin:0px auto !important; }
	.Portfolio-box{ height:250px;}*/
    .client-part {
        .client-part-haead{
            font-size: 22px;
        }
    }
	.call-out{
        text-align:center;
        h2{
            text-align:center;
        }
    }
    #team {
        .team-leader-block{
            .team-leader-box{
                height: 420px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:14px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.service-list{ font-size:12px; margin-bottom:20px;}
	.we-create{
         li{ font-size:13px; padding:0 0 0 8px}
    }
	.header{
        padding:60px 0;
        
        h1{ font-size:28px;}
    }
	
    .main-nav{
        display:none;
        position:absolute;
        left:0;
        width:100%;
        top:60px;
        margin:0 auto;
        flote : none;
        background:#f1f1f1;
        box-shadow:0 5px 10px #999;
        
        li{
            display:block;
            
            a{
                display:block; padding:7px 32px; border-bottom:none;
                              
            }
        }
        
        li.small-logo{ display:none;}
    }

	.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
	.team-leader-box:nth-of-type(3n){ margin:0 auto}
	
    .res-nav_click{
        
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        height:auto;
        
        img{
            width:30px;
        }
        span{
            font-size:26px;
            float:right;
            color:#943095;
            
            i{
                margin-left:10px;
            }
        }
    }
	
    .featured-work{ font-size:14px; margin-top:30px;}
	.featured-box{
         font-size:14px;         
         p{ line-height:18px; }
    }

	.c-logo-part{
         ul{
             a{ margin-bottom:5px;}
         }
    }
	.main-section.team{ padding:60px 0 50px;}
	.business-talking{
         h2{ font-size:36px;}
    }
	.contact-info-box{
        margin:0 0 12px 30px;
        font-size:12px;
        
        span{ line-height:18px;}
    }

	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking{
         a{ padding:10px 25px; font-size:14px;}
    }
	.main-section.contact{ padding:60px 0 70px}
	.client-part-haead{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:100px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav{
         li{ display:block;
            a{ padding:5px 16px;}
         }
    }
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
    
    
	.call-out{
        text-align:center;
        h2{
            text-align:center;
        }
    }
	
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.social-link{
    
         margin-left:0px;
         text-align: center;
         
         li{
                float: none;
                display:inline-block;
         }
    }
	
    .form{ margin:0}
	.c-logo-part{
        
         ul{            
             li{
                 display:block;
                 padding:15px 0;
             }
         }
    }
    
    #team{
        .team-leader-block{
            
            .team-leader-box{
                width:100%;
                margin: 0 auto;
                float: none;
                
                &:nth-of-type(3n+0){
                    margin:0 auto;
                }
            }
        }
    }
    #Portfolio{
        .portfolioContainer{
            padding-left:5px;
            
            .Portfolio-box{
                
                max-width:300px !important;
                width:96.4% !important;
                margin:0 !important;
    
                .img-rounded {                   
                    border-radius: 0;
                }
            }
        }
    }
	
	.portfolioContainer{ width:280px !important; margin:0 auto !important } 
    
    .call-out {
        text-align:center;
        
        h2{
            text-align:center;
        }
    }
	
}